/* HEADER */
.Mbody {
    padding-top: clamp(40px,5vh,80px);
    display: flex;
    justify-content: center;
    min-height: 100dvh;
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(2, 2, 2);
  color: rgb(230, 230, 230);
}
.Mbody header {
    padding: clamp(15px,1vw,40px);
    font-size: 1.1rem;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    top: 0px;
    display: flex;
    width: clamp(250px,90%,1200px);
    height: clamp(45px,5vh,80px);
    background-color: #1a1a1f;
    border-radius: 0px 0px 5px 5px;
}
.Mlogoheader{
    object-fit: cover;
    height: clamp(30px,5vh,30px);
}
.Mlogoheader2{
    cursor: pointer;
    object-fit: cover;
    height: clamp(10px,5vh,23px);
    transition: all 0.5s ease-in-out;
}
.Mlogoheader2:hover{
    height: clamp(14px,6vh,26px);
}
